extends layout

block content
  #about
  #work-area
    #swatch
    #swatch-roots
      #swatch-root-note
      span Root
      #swatch-root-color
    ul#swatch-options
      each option, key in options
        li
          input(type='radio', name='swatch-option', value=option, id='swatch-option-#{key}')
          label(for='swatch-option-#{key}')=option